<ion-header>
    <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
        <ion-title>Tastings of {{roast.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let tasting of roast.tastings; let i = index">
        <ion-card-header>
            <ion-card-title>
                {{getDateDiff(i)}} 
            </ion-card-title>
            <ion-card-subtitle NgIf="!tasting.rating">
                Rating: {{tasting.rating}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            {{tasting.notes}}
            <div slot="end" style="float:right;">
                <ion-button disabled color="primary" fill="outline" slot="end"><ion-icon name="create"></ion-icon> Edit</ion-button>
                <ion-button color="danger" fill="outline" slot="end" (click)="showConfirmAlert(i);"><ion-icon name="trash"></ion-icon> Delete</ion-button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/add-tasting/', id]" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
