<ion-header>
</ion-header>

<ion-content>
  <form (ngSubmit)="createRoast()">
    <ion-item>
      <ion-label position="floating">Roast Name</ion-label>
      <ion-input [(ngModel)]="roast.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Origin</ion-label>
      <ion-input [(ngModel)]="roast.origin" name="origin"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Processing</ion-label>
      <ion-input [(ngModel)]="roast.processing" name="processing"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Weight In</ion-label>
      <ion-input [(ngModel)]="roast.weight_in" name="weight_in"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Weight Out</ion-label>
      <ion-input [(ngModel)]="roast.weight_out" name="weight_out"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea rows=4 [(ngModel)]="roast.notes" name="notes"></ion-textarea>
    </ion-item>
    <ion-button expand="full" color="secondary" (click)="openPWAPhotoPicker()"><ion-icon name="camera"></ion-icon></ion-button>
    <div id="pwa" style="visibility: hidden;">
      <input type="file" id="pwaphoto" #pwaphoto accept="image/x-png,image/jpeg" (change)="uploadPWA()">
    </div>
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let img of roast.photos">
            <img [src]="img" #imageSrc>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-button expand="full" fill="outline" routerLink="/" routerDirection="backward" (click)="createRoast()"><ion-icon name="save"></ion-icon> Save</ion-button>
  </form>
</ion-content>
